<sly data-sly-use.configuration="${'com.adobe.acs.commons.cloudservices.pwa.Configuration'}"
    data-sly-test.ready="${configuration.ready}"
    data-sly-test.categories="${configuration.pwaJsCategories}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-call="${clientlib.js @ categories=categories}"/>
</sly>

<sly data-sly-test="${!ready && categories}">
    <!-- PWA footer includes disabled on AEM Author. These will only be added on AEM Publish. -->
</sly>
