<sly data-sly-use.configuration="${'com.adobe.acs.commons.cloudservices.pwa.Configuration' @ useResource=request.requestPathInfo.suffixResource}"></sly>

<script>
console.log("Add the PWA Service Worker JS include here. It should pull from the PWA root");
</script>

<!--/*
TODO: This should probably be configurable wrt to what it pulls in.

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=['acs-commons.pwa']}"/>
*-->



