.repo
.vlt
.classpath
.project
.settings/
target/
.DS_Store
lib/

#Intellij
.idea/
*.iml
generated/

#Netbeans
nb-configuration.xml
/bundle/nbproject/

#vlt directories
content/src/main/content/jcr_root/.content.xml
content/src/main/content/jcr_root/apps/.content.xml
content/src/main/content/jcr_root/etc/.content.xml
content/src/main/content/jcr_root/etc/designs/.content.xml
content/src/main/content/jcr_root/etc/clientlibs/.content.xml
.pmd
.metadata

node_modules