language: java
jdk: oraclejdk8
env:
- MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=512m -Duser.language=en -Duser.country=US"
- MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=512m -Duser.language=de -Duser.country=DE"
script: mvn verify -B
after_success:
  - mvn clean jacoco:prepare-agent test jacoco:report coveralls:report
sudo: false
notifications:
  slack:
    secure: aC4TRo2EiPb0LUA5L1+7JhLzmSFw8Uiqzr3ycDpMc+PMQLM9pOKxZ1OckJZIQBcCnmgcnTMuNXrcuZAY0GIwJ65hu8uRxJGjLROb0KsVCvuJnvBdAjE+MlPIHbegyRA9YLupdRUdpuHAtYmy/Fdub33SHZ9ZXYpiOfYVFfaUpSk=
