language: java
jdk: oraclejdk8
env:
- MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=512m"
script: mvn verify -B
sudo: false
notifications:
  slack:
    secure: aC4TRo2EiPb0LUA5L1+7JhLzmSFw8Uiqzr3ycDpMc+PMQLM9pOKxZ1OckJZIQBcCnmgcnTMuNXrcuZAY0GIwJ65hu8uRxJGjLROb0KsVCvuJnvBdAjE+MlPIHbegyRA9YLupdRUdpuHAtYmy/Fdub33SHZ9ZXYpiOfYVFfaUpSk=
