---
layout: home
title: ACS AEM Commons
---

<section id="jumbotron">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">Because the wheel doesn't need reinventing</p>
  </div>
</section>

<!-- Introductions -->
<section class="info-row info-row-odd">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <h2>What is it?</h2>
        <ul>
          <li>A way to <em>boostrap your AEM project</em> with commonly required functionality</li>      
          <li>A set of <em>reusable components</em></li>
          <li>An <em>AEM development toolkit</em></li>
        </ul>
      </div>

      <div class="col-lg-5 col-md-6">
        <h2>What isn't it?</h2>
        <ul>
          <li>A framework</li>
          <li>A library which has <em>required</em> third party dependencies</li>
          <li>A library which <em>changes</em> standard AEM functionality by default</li>
        </ul> 
      </div>

    </div>
  </div>
</section>

<section class="info-row info-row-even">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <h2>How do I use it?</h2>
          <ul>
            <li>Add it as a sub package using Maven <a href="{{ site.baseurl }}/pages/maven.html">details</a></li>
            <li>Manually deploy the package using the package manager</li>
          </ul>  
      </div>

      <div class="col-lg-5 col-md-6">
          <h2>Where do I get it?</h2>
          <ul>
            <li>From repo.adobe.com</li>
            <li>Github Releases</li>
          </ul>  
      </div>

    </div>
  </div>
</section>


<!-- Feature Grid -->
<section id="features" class="features">
  <div class="container">

    <h2>Features</h2>

    <div class="row">
      {% for post in site.categories.features %}
        {% assign mod2 = forloop.index|modulo:2 %}
        {% assign mod3 = forloop.index|modulo:3 %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="feature">
            <img class="img-responsive" src="{{ site.baseurl }}{{ post.thumbnail }}"/>
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
          </div>
        </div>


        {% if mod2 == 0 %}
        <div class="clearfix visible-sm visible-xs hidden-md hidden-lg"></div>
        {% endif %}

        {% if mod3 == 0 %}
        <div class="clearfix hidden-sm hidden-xs visible-md visible-lg"></div>
        {% endif %}


      {% endfor %}
    </div>
  </div>
</section>

