---
layout: home
title: ACS AEM Commons
description: An AEM development and component toolkit for bootstrapping any AEM project.
---

<section id="jumbotron">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">Because the wheel doesn't need reinventing</p>
  </div>
</section>

<!-- Introductions -->
<section class="striation-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <h2>What is it?</h2>
        <ul>
          <li>A way to <em>bootstrap your AEM project</em> with commonly required functionality</li>      
          <li>A set of <em>reusable components</em></li>
          <li>An <em>AEM development toolkit</em></li>
        </ul>
      </div>

      <div class="col-lg-5 col-md-6">
        <h2>What isn't it?</h2>
        <ul>
          <li>A framework</li>
          <li>A library which has <em>required</em> third party dependencies</li>
          <li>A library which <em>changes</em> standard AEM functionality by default</li>
        </ul> 
      </div>

    </div>
  </div>
</section>

<section class="striation-dark">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <h2>How do I use it?</h2>
          <ul>
            <li>Add it as a sub package using Maven <a href="{{ site.baseurl }}/pages/maven.html">details</a></li>
            <li>Manually deploy the package using the package manager</li>
          </ul>  
      </div>

      <div class="col-lg-5 col-md-6">
          <h2>Where do I get it?</h2>
          <ul>
            <li>From <a href="http://repo.adobe.com/nexus/content/groups/public/com/adobe/acs/acs-aem-commons-content/1.2.2/">repo.adobe.com</a></li>
            <li><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/releases">Github Releases</a></li>
          </ul>  
      </div>

    </div>
  </div>
</section>

<section class="striation-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-11 col-lg-offset-1 col-md-12">
        <h2>Who are you?</h2>
        <p>
          We are Adobe Consulting Services. We build solutions on top of Adobe products including Adobe Experience Manager (AEM, fka CQ, fka Communique).
        </p>
      </div>


    </div>
  </div>
</section>

<section class="striation-dark news">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 col-md-12">
                <h2>News</h2>
                <ul>
                  {% for post in site.categories.news %}
                  <li><span class="date">{{ post.date | date: "%B %-d, %Y" }}</span> <span class="title">{{ post.title }}</span> <span class="description">{{ post.description }}</span></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</section>

<!-- Features -->
<section id="features" class="features">
  <div class="container">

    <h2>Features</h2>
    <div class="row">
      {% for post in site.categories.features %}
        {% assign mod2 = forloop.index|modulo:2 %}
        {% assign mod3 = forloop.index|modulo:3 %}

        {% include feature-card.html feature=post %}

        {% if mod2 == 0 %}
        <div class="clearfix visible-sm visible-xs hidden-md hidden-lg"></div>
        {% endif %}

        {% if mod3 == 0 %}
        <div class="clearfix hidden-sm hidden-xs visible-md visible-lg"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>