<sly data-sly-use.configuration="${'com.adobe.acs.commons.cloudservices.pwa.Configuration'}"
     data-sly-test.ready="${configuration.ready}"
     data-sly-test.path="${configuration.scopePath}">
    <link rel="manifest" href="${path}.pwa.manifest.json" type="application/manifest+json" crossOrigin="use-credentials">
    <meta name="pwa.root" value="${path}">
</sly>

<sly data-sly-test="${!ready && path}">
    <!-- PWA head includes disabled on AEM Author. These will only be added on AEM Publish. -->
</sly>
