getEndpoint="https://ims-na1.adobelogin.com/ims/exchange/jwt"
getLoginEndpoint="https://ims-na1.adobelogin.com/c/"
getPrivateKey="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCR9aDjOVcW9l62
p8vkAZx366U5HX6C9QC4j7nkrQirUOfl/yhh1oTf1E6g/LAIwKqzoPoMFRKiXsES
aM/sjC8dS7C5YScyev3mFIwz5zaXY0MnENm98ssLANRLVnhiXEopMaXsDfGrkvZm

tsqLPSVvxVtIQcZ541YVjfuI
-----END PRIVATE KEY-----"
getClientId="735837371de64e1b9ae60b038e914bf2"
getClientSecret="533cbe63-1c10-4b7c-90d9-5af865769d93"
getAMCOrgId="C81AEFE759BFE2370A495E68@AdobeOrg"
getTechAccountId="2DC42E855A65D9220A495C0D@techacct.adobe.com"
getAdobeLoginClaimKey="[https://ims-na1.adobelogin.com/s/ent_campaign_sdk]"
getExpirationTimeInSeconds="1517697810"