# Configuration created by Apache Sling JCR Installer
servletresolver.cacheSize=I"1000"
servletresolver.defaultExtensions=["html","json"]
servletresolver.paths=["/bin/","/libs/","/apps/","/system/","/index.servlet","/login.servlet","/services/","/etc/commerce/searchpromote/feed/deleted.servlet","/ws/"]
servletresolver.servletRoot="-1"
