# Configuration created by Apache Sling JCR Installer
queue.name="ACS\ AEM\ Commons\ -\ Package\ Replication\ Status\ Updater\ Jobs"
queue.priority="NORM"
queue.maxparallel=D"4607182418800017408"
queue.topics=["acs-commons/replication/package"]
queue.retries=I"3"
queue.preferRunOnCreationInstance=B"false"
queue.threadPoolSize=I"0"
queue.retrydelay=L"1000"
service.ranking=I"0"
queue.type="ORDERED"
queue.keepJobs=B"false"