scripts=[
"
create service user acs-commons-dispatcher-flush-service with path system/acs-commons
set ACL for acs-commons-dispatcher-flush-service
    allow jcr:read,crx:replicate,jcr:removeNode on /
end

create service user acs-commons-ensure-service-user-service with path system/acs-commons
set ACL for acs-commons-ensure-service-user-service
    allow jcr:read,rep:write,jcr:readAccessControl,jcr:modifyAccessControl on /
end

create service user acs-commons-on-deploy-scripts-service with path system/acs-commons
set ACL for acs-commons-on-deploy-scripts-service
    allow jcr:read on /
end

create service user acs-commons-package-garbage-collection-service with path system/acs-commons
set ACL for acs-commons-package-garbage-collection-service
    allow jcr:read, rep:write on /etc/packages
end
"
]