.clientlibsmanager {
  h1, h2, em, strong, p, ul, {
    margin-left: 0;
    padding-left: 0;
  }

  h1 {
    border-width: 0;
  }

  h2 {
    margin: 0 0 .5em 0;
    width: auto;
  }

  h3 {
    padding: .25rem .5rem;
  }

  p {
    margin-left: 1em;
    width: auto;
  }

  ul {
    list-style-position:inside;
    list-style-type: disc;
    width: auto;
  }

  ul li {
    border-width: 0;
    margin-left: 1em;
    width: auto;
  }

  .not-set {
    font-style: italic;
  }
}