

.acs-tooltip {
    margin-left: 160px !important;
}

.code-java {
    font-size:11px;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace
}

.Active {
    color: #82c387;
}

.Expired {
    color: #dcdcdc;
}

.Pending {
    color: #f5b95a;
}

.Invalid {
    color: #fa7369;
}
