scripts=["
    # ### /var/acs-commons Author and Publish ###

    create path /var/acs-commons(sling:Folder)

    set principal ACL for everyone
        allow jcr:read on /var/acs-commons
    end

    # ### HTTP Cache (Author and Publish) ###

    create path /var/acs-commons/httpcache(sling:Folder)
    create path /var/acs-commons/httpcache/root(oak:Unstructured)

    create service user acs-commons-httpcache-jcr-storage-service with path system/acs-commons/httpcache-jcr-storage-provider

    set principal ACL for acs-commons-httpcache-jcr-storage-service
        allow jcr:read,rep:write on /var/acs-commons/httpcache
    end

    # ### On Deploy Scripts (Author and Publish) ###
    
    create path /var/acs-commons/on-deploy-scripts-status(sling:OrderedFolder)

    create service user acs-commons-on-deploy-scripts-service with path system/acs-commons/on-deploy-scripts-service

    set principal ACL for acs-commons-on-deploy-scripts-service
        allow jcr:versionManagement,jcr:read,rep:write,jcr:lockManagement on /var/acs-commons/on-deploy-scripts-status
    end

    # ### Workflow Remover (Author and Publish) ###

    create service user acs-commons-workflow-remover-service with path system/acs-commons/workflow-remover

    set principal ACL for acs-commons-workflow-remover-service
        allow jcr:read,jcr:write on /var/workflow/instances
    end

    # ### Workflow Package Manager (Author and Publish) ###

    create service user acs-commons-workflowpackagemanager-service with path system/acs-commons/workflow-package-manager-service

    set principal ACL for acs-commons-workflowpackagemanager-service
        allow jcr:read,jcr:write on /var/workflow/packages
    end

    # ### Automatic Package Replication (Author and Publish) ###

    create service user acs-commons-automatic-package-replicator-service with path system/acs-commons/acs-commons-automatic-package-replicator-service

    set principal ACL for acs-commons-automatic-package-replicator-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /var/workflow/packages,/etc/packages
        allow jcr:read on /
    end

    # ### File Fetch (Author and Publish) ###

    create service user acs-commons-file-fetch-service with path system/acs-commons/acs-commons-file-fetch-service

    set principal ACL for acs-commons-file-fetch-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/dam
        allow jcr:read on /
    end

"]
