scripts=["
    # everyone ACLs (Author and Publish) #

    set principal ACL for everyone
        allow jcr:read on /etc/designs/acs-commons
        allow jcr:read on /etc/cloudservices/dtm
        allow jcr:read on /etc/cloudservices/sharethis
        allow jcr:read on /etc/cloudservices/typekit
        allow jcr:read on /etc/acs-commons/redirect-maps
    end

    # ### /var/acs-commons Author and Publish ###

    create path /var/acs-commons(sling:Folder)

    # ### HTTP Cache (Author and Publish) ###

    create path /var/acs-commons/httpcache(sling:Folder)
    create path /var/acs-commons/httpcache/root(oak:Unstructured)

    create service user acs-commons-httpcache-jcr-storage-service with path system/acs-commons/httpcache-jcr-storage-provider

    set principal ACL for acs-commons-httpcache-jcr-storage-service
        allow jcr:read,rep:write on /var/acs-commons/httpcache
    end

    # ### On Deploy Scripts (Author and Publish) ###
    
    create path /var/acs-commons/on-deploy-scripts-status(sling:OrderedFolder)

    create service user acs-commons-on-deploy-scripts-service with path system/acs-commons/on-deploy-scripts-service
    set principal ACL for acs-commons-on-deploy-scripts-service
        allow jcr:read on /
        allow jcr:versionManagement,jcr:read,rep:write,jcr:lockManagement on /var/acs-commons/on-deploy-scripts-status
        allow jcr:versionManagement,jcr:read,rep:write,jcr:lockManagement,crx:replicate on /content
        allow jcr:versionManagement,jcr:read,rep:write,jcr:lockManagement on /etc
    end

    # ### Workflow Remover (Author and Publish) ###

    create service user acs-commons-workflow-remover-service with path system/acs-commons/workflow-remover

    set principal ACL for acs-commons-workflow-remover-service
        allow jcr:read,jcr:write on /var/workflow/instances,etc/workflow/instances
    end

    # ### Workflow Package Manager (Author and Publish) ###

    create service user acs-commons-workflowpackagemanager-service with path system/acs-commons/workflow-package-manager-service

    set principal ACL for acs-commons-workflowpackagemanager-service
        allow jcr:read,jcr:write on /var/workflow/packages,/etc/workflow/packages
    end

    # ### Automatic Package Replication (Author and Publish) ###

    create service user acs-commons-automatic-package-replicator-service with path system/acs-commons/acs-commons-automatic-package-replicator-service

    set principal ACL for acs-commons-automatic-package-replicator-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /var/workflow/packages,/etc/packages
        allow jcr:read on /
    end

    # ### File Fetch (Author and Publish) ###

    create service user acs-commons-file-fetch-service with path system/acs-commons/acs-commons-file-fetch-service

    set principal ACL for acs-commons-file-fetch-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/dam
        allow jcr:read on /
    end

    # ### Component Error Handler (Author and Publish) ###

    create service user acs-commons-component-error-handler-service with path system/acs-commons/component-error-handler

    set principal ACL for acs-commons-component-error-handler-service
        allow jcr:read on /apps,/content
    end

    # ### Dispatcher Flush (Author and Publish) ###

    create service user acs-commons-dispatcher-flush-service with path system/acs-commons/dispatcher-flush-service

    set principal ACL for acs-commons-dispatcher-flush-service
        allow jcr:read,crx:replicate,jcr:removeNode on /
    end


    # ### Email Service (Author and Publish) ###

    create service user acs-commons-email-service with path system/acs-commons/email-service

    set principal ACL for acs-commons-email-service
        allow jcr:read on /etc/notification/email
    end


    # ### Ensure Oak Index (Author and Publish) ###

    create service user acs-commons-ensure-oak-index-service with path system/acs-commons/ensure-oak-index-service

    set principal ACL for acs-commons-ensure-oak-index-service
        allow jcr:read,rep:write,rep:indexDefinitionManagement on / restriction(rep:glob,*/oak:index,*/oak:index/*)
        allow jcr:read on /apps 
        allow jcr:read,rep:write,rep:indexDefinitionManagement on /oak:index    
    end

    # ### Ensure Service User (Author and Publish) ###

    create service user acs-commons-ensure-service-user-service with path system/acs-commons/ensure-service-user

    set principal ACL for acs-commons-ensure-service-user-service
        allow jcr:read,rep:write,jcr:readAccessControl,jcr:modifyAccessControl on /
        allow rep:userManagement on /home/users,/home/groups
    end

    # ### Error Page Handler (Author and Publish) ###
    
    create service user acs-commons-error-page-handler-service with path system/acs-commons/error-page-handler
    
    set principal ACL for acs-commons-component-error-handler-service
        allow jcr:read on /content
    end

    # ### Shared Component Properties (Author and Publish) ###

    create service user acs-commons-shared-component-props-service with path system/acs-commons/shared-component-props-service
    set principal ACL for acs-commons-shared-component-props-service
        allow jcr:read on /apps     
    end

    # ### Twitter Update (Author and Publish) ###

    create service user acs-commons-twitter-updater-service with path system/acs-commons/twitter-updater
    set principal ACL for acs-commons-twitter-updater-service
        allow jcr:read,jcr:modifyProperties,crx:replicate on /content
    end



    create service user acs-commons-form-helper-service with path system/acs-commons/form-helper-service
  
"]
