#acs-commons-oak-index-manager-app {
  .content-container {
    width: 1200px;
    margin: 0 auto;
  }

  .section {
    margin: 2em 0;

    h2 {
      margin-bottom: .5em;
    }
  }

  .notifications {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 750px;
    z-index: 1000;
  }

  .index-table {
    clear: both;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;

    .reindexing {
      background-color: red;
    }
  }

  .filter-input {
    width: 500px;
  }

  .running-indicator {
    margin-top: 2px;
    margin-right: 1em;
  }
}

.unsupported {
  margin: 2em auto;
  width: 750px;
}