service.ranking=I"0"
user.mapping=[ \
    "com.adobe.acs.acs-aem-commons-bundle:review-task-asset-mover\=[acs-commons-review-task-asset-mover-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:system-notifications\=[acs-commons-system-notifications-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:workflow-remover\=[acs-commons-workflow-remover-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:bulk-workflow\=[acs-commons-bulk-workflow-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:bulk-workflow-runner\=[workflow-process-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:manage-controlled-processes\=[acs-commons-manage-controlled-processes-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:remote-assets\=[acs-commons-remote-assets-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:file-fetch\=[acs-commons-file-fetch-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:twitter-updater\=[acs-commons-twitter-updater-service]", \
    "com.adobe.acs.acs-aem-commons-bundle:package-replication-status-event-listener\=[acs-commons-package-replication-status-event-service]" \
]
