<sly data-sly-use.model="com.adobe.acs.commons.wcm.components.NamedTransformImageModel"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.ready="${model.ready}">

    <a data-sly-test="${model.linkURL}"
       href="${model.linkURL}"><img
            src="${model.image.src}"
            class="cq-dd-image"
            alt="${model.image.alt}"/></a>

    <img data-sly-test="${!model.linkURL}"
         src="${model.image.src}"
         class="cq-dd-image"
         style="width: 100%"
         alt="${model.image.alt}"/>

</sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!ready}"></sly>