<button class="spectrum-Button spectrum-Button--fill spectrum-Button--sizeM"
        id="preview"
        name="preview"
        data-url="${currentPage.contentResource.path}.package.json">
  <span class="spectrum-Button-label"
        name="preview"
        data-url="${currentPage.contentResource.path}.package.json">Preview</span>
</button>

<button class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeM"
        id="create"
        name="create"
        data-url="${currentPage.contentResource.path}.package.json">
  <span class="spectrum-Button-label"
        name="create"
        data-url="${currentPage.contentResource.path}.package.json">Create package</span>
</button>