/* Mixins */
.code {
  background-color: #f7f7f7;
  border-radius: 0;
}
.code-block {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: Courier, serif;
}
/* Styles */
body {
  background: #fff;
  font-family: 'SourceSans';
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #4d4d4d;
  font-size: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SourceSans';
  font-weight: 200;
  color: #a72c00;
}
a {
  color: #f44100;
}
a:hover {
  color: #ff6128;
}
code {
  color: #a72c00;
}
header.top {
  background-color: #343838;
}
/* Header Navigation */
header .nav a {
  color: #fff;
}
header .nav a:hover {
  background-color: #000 !important;
}
/* Jumbotron */
#jumbotron {
  background-color: #f44100;
  background-image: url('../images/red-bg.png');
  background-repeat: repeat-x;
  border-bottom: solid 1px #c13300;
  border-top: solid 1px #000;
  color: #fff;
  min-height: 35rem;
  padding-top: 7rem;
  text-align: center;
}
#jumbotron h1 {
  font-size: 5em;
  font-weight: 200;
  color: #a72c00;
  text-shadow: #ffac8e 0px 1px 0px;
}
#jumbotron .lead {
  font-size: 2.5em;
  font-weight: 200;
  color: #fff;
  line-height: 1em;
  text-shadow: #343838 0px 2px 0px;
}
#jumbotron .lead em {
  font-weight: 200;
  text-decoration: none;
}
/* Homepage */
.striation {
  padding: 2rem;
}
.striation-light {
  padding: 2rem;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}
.striation-dark {
  padding: 2rem;
  background-color: #f7f7f7;
  border-bottom: solid 1px #ccc;
}
/* Feature Grid */
.features {
  padding-top: 2em;
}
.features .feature {
  text-align: center;
}
.features .feature img {
  border: solid 1px #ccc;
}
.features .feature h3 {
  margin: 1em 0 .5em 0;
}
.features .feature p {
  color: #999;
  font-weight: 200;
  margin-bottom: 4rem;
}
/* Feature Doc */
.feature-doc {
  margin-top: 2em;
}
.feature-doc h1 {
  margin-top: 2em;
}
.feature-doc h1,
.feature-doc h2,
.feature-doc h3,
.feature-doc h4,
.feature-doc h5 {
  margin-top: 1.25em;
}
.feature-doc h2 {
  border-bottom: dotted 1px #ccc;
  padding-bottom: .25em;
}
.feature-doc img {
  width: 100%;
}
.feature-doc pre code {
  font-size: 1em;
}
.feature-doc ul,
.feature-doc ol,
.feature-doc dl {
  margin-bottom: 1em;
}
/* Inline Code */
code {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: SourceSans, sans-serif;
  font-weight: 200;
  padding: .25rem .75rem;
}
/* Code Blocks */
pre {
  border-radius: 0;
  border-color: #eee;
  padding: 1.5rem 2rem;
}
pre code {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: Courier, serif;
  border: 0;
}
/* Footer */
footer {
  background-color: #f7f7f7;
  margin-top: 4em;
  padding: 2em 0;
  border-top: solid 1px #ccc;
}
