<sly data-sly-use.configuration="com.adobe.acs.commons.cloudservices.pwa.Configuration">

<!--/* Folder */-->
<coral-card data-sly-test="${resource['jcr:primaryType'] != 'cq:Page'}"
     class="foundation-collection-navigator" variant="inverted"
     data-foundation-collection-item-id="${resource.path}">
    <coral-card-content>
        <coral-card-context data-sly-test="${resource['jcr:primaryType'] != 'cq:Page'}" class="coral-Card-context">${'Folder' @ i18n, locale=request.locale}</coral-card-context>
        <coral-card-title class="foundation-collection-item-title">${configuration.title}</coral-card-title>
    </coral-card-content>
    <meta class="foundation-collection-quickactions" data-foundation-collection-quickactions-rel="${configuration.quickactionsRels.isEmpty ? 'none' : configuration.quickactionsRels @join=' '}">
</coral-card>


<!--/* Configuration */-->
<coral-card data-sly-test="${resource['jcr:primaryType'] == 'cq:Page'}"
            data-foundation-collection-item-id="${resource.path}">
    <coral-card-asset>
        <coral-icon icon="${configuration.icon}" size="XXL"></coral-icon>
    </coral-card-asset>
    <coral-card-info></coral-card-info>
    <coral-card-content>
        <coral-card-context class="coral-Card-context">${'PWA Configuration' @ i18n, locale=request.locale}</coral-card-context>
        <coral-card-title class="foundation-collection-item-title">${configuration.title}</coral-card-title>
        <coral-card-propertylist>
            <coral-card-property data-sly-test="${configuration.lastModifiedDate}" icon="edit" title="${'Modified' @ i18n, locale=request.locale}">
                <time data-sly-use.modified="${'com.adobe.cq.cloudconfig.ui.commons.DateFormatter' @ date=configuration.lastModifiedDate, relativeFormat='r'}"
                      datetime="${configuration.lastModifiedDate.timeInMillis}">
                    ${modified.date}
                </time>
            </coral-card-property>
            <coral-card-property data-sly-test="${configuration.lastPublishedDate}" icon="globe" title="${'Published' @ i18n, locale=request.locale}">
                <time data-sly-use.published="${'com.adobe.cq.cloudconfig.ui.commons.DateFormatter' @ date=configuration.lastPublishedDate, relativeFormat='r'}"
                      datetime="${configuration.lastPublishedDate.timeInMillis}">
                    ${published.date}
                </time>
            </coral-card-property>
            <coral-card-property data-sly-test="${!configuration.lastPublishedDate}" icon="globeRemove">
                ${'Not published' @ i18n, locale=request.locale}
            </coral-card-property>
        </coral-card-propertylist>
    </coral-card-content>
    <meta class="foundation-collection-quickactions" data-foundation-collection-quickactions-rel="${configuration.quickactionsRels.isEmpty ? 'none' : configuration.quickactionsRels @join=' '}">
</coral-card>

<coral-quickactions target="_prev" alignmy="left top" alignat="left top">
    <coral-quickactions-item icon="check" class="foundation-collection-item-activator">${'Select' @ i18n, locale=request.locale}</coral-quickactions-item>
    <div data-sly-list.quickaction="${configuration.quickactionsRels}" data-sly-unwrap>
        <coral-quickactions-item
                icon="edit" class="foundation-collection-action"
                data-sly-test="${quickaction == 'cq-confadmin-admin-actions-edit-activator'}"
                type="anchor" href="${request.contextPath}/apps/acs-commons/cloudservices/pwa/content/configurations/properties.html">${'Edit' @ i18n, locale=request.locale}</coral-quickactions-item>
        <coral-quickactions-item
                icon="globe" class="foundation-collection-action"
                data-sly-test="${quickaction == 'cq-confadmin-admin-actions-publish-activator'}"
                data-foundation-collection-action='{
                                                    "action":"cq.wcm.publish",
                                                    "data":{
                                                      "referenceSrc":"${request.contextPath}/libs/wcm/core/content/reference.json?_charset_=utf-8{&path*}",
                                                      "wizardSrc":"${request.contextPath}/libs/wcm/core/content/sites/publishtemplatewizard.html?_charset_=utf-8{&item*}"
                                                    }
                                                   }'>${'Publish' @i18n, locale=request.locale}</coral-quickactions-item>
    </div>
</coral-quickactions>

</sly>