<a
    data-sly-use.image="image.js"
    data-sly-unwrap="${!image.linkUrl}"
    href="${image.linkUrl}"
    onclick="CQ_Analytics.record({event: 'imageClick', values: { imageLink: '${image.linkurl @ context='scriptString'}', imageAsset: '${image.filereference @ context='scriptString'}', imageTitle: '${image.fileName @ context='scriptString'}' }, collect: false, options: { obj: this }, componentPath: '${image.resource.resourceType @ context='scriptString'}'})">
  <img
      src="${resource.path}.transform/${properties.transform}/image.png"
      alt="${image.alt}"
      title="${image.title}"
      width="${image.width}"
      height="${image.height}"
      class="${image.cssClass}"
      data-emptytext="Image"
      usemap="${image.imageMaps.hash}"/>
</a>
<small data-sly-test="${properties.jcr:description}">${properties.jcr:description}</small>
<map
    data-sly-list="${image.imageMaps.maps}"
    name="${image.imageMaps.name}">
  <area
      shape="${item.type}"
      coords="${item.coords}"
      href="${item.href}"
      target="${item.target}"
      alt="${item.alt}"
      title="${item.title}"/>
</map>
