scripts=[
"# these users and ACLs are only necessary on author
create service user acs-commons-package-replication-status-event-service with path system/acs-commons
set ACL for acs-commons-package-replication-status-event-service
    allow jcr:read,rep:write,jcr:readAccessControl,jcr:modifyAccessControl on /
end
"
]