scripts=[
# these users and ACLs are only necessary on author
create service user acs-commons-workflow-remover-service with path system/acs-commons
set principal ACL for acs-commons-workflow-remover-service
    allow jcr:read, rep:write on /var/workflow/instances
end

create service user acs-commons-workflowpackagemanager-service with path system/acs-commons
set principal ACL for acs-commons-workflowpackagemanager-service
    allow jcr:read on /var/workflow/packages
end
"
]