scripts=[
"
# These paths must exist otherwise the following ACL applicaiton will fail, resulting in err'ing build 
create path /content/cq:tags(sling:Folder)
create path /etc/packages(sling:Folder)

create service user acs-commons-automatic-package-replicator-service with path system/acs-commons
set ACL for acs-commons-automatic-package-replicator-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /etc/packages
    allow jcr:read on /
end

create service user acs-commons-file-fetch-service with path system/acs-aem-commons
set ACL for acs-commons-file-fetch-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/dam
    allow jcr:read on /
end

create service user acs-commons-remote-assets-service with path system/acs-aem-commons
set ACL for acs-commons-remote-assets-service
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/cq:tags
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/dam
    allow jcr:read on /

    # If /etc/tags is used, these ACLs be set manually - if RepoInit defines this structure, it supersedes the use of /content/cq:tags
    # allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /etc/tags
end

create service user acs-commons-manage-redirects-service with path system/acs-aem-commons
set ACL for acs-commons-manage-redirects-service
    allow jcr:read on /
end

"
]

