scripts=[
"
# These paths must exist otherwise the following ACL applicaiton will fail, resulting in err'ing build 
create path /content/cq:tags(sling:Folder)
create path /etc/packages(sling:Folder)

# create default contextual configuration for redirects: /conf/global/settings/redirects
create path /conf/global(sling:Folder)
create path /conf/global/settings(sling:Folder)
create path /conf/global/settings/redirects(nt:unstructured)

# Not supported in 6.4.8
#set properties on /conf/global/settings/redirects
#  set sling:resourceType{String} to acs-commons/components/utilities/manage-redirects/redirects
#end

# user to invalidate cached redirects on change
create service user acs-commons-manage-redirects-service with path system/acs-aem-commons
set ACL for acs-commons-manage-redirects-service
    allow jcr:read on /
    allow jcr:read on /conf
end

# Marketo config service needs to be able to read /conf and /content
create service user acs-commons-marketo-conf-service with path system/acs-commons
set ACL for acs-commons-marketo-conf-service
    allow jcr:read on /conf
    allow jcr:read on /content
end

# web requests need read access to redirect configurations, e.g. /conf/global/settings/redirects
set ACL for anonymous
    allow jcr:read on /conf  restriction(rep:glob,/*/settings/redirects)
end

create service user acs-commons-automatic-package-replicator-service with path system/acs-commons
set ACL for acs-commons-automatic-package-replicator-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /etc/packages
    allow jcr:read on /
end

create service user acs-commons-file-fetch-service with path system/acs-aem-commons
set ACL for acs-commons-file-fetch-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/dam
    allow jcr:read on /
end

create service user acs-commons-remote-assets-service with path system/acs-aem-commons
set ACL for acs-commons-remote-assets-service
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/cq:tags
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/dam
    allow jcr:read on /

    # If /etc/tags is used, these ACLs be set manually - if RepoInit defines this structure, it supersedes the use of /content/cq:tags
    # allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /etc/tags
end
"
]

