scripts=[
"
create path /content/cq:tags(sling:Folder)
create path /etc/packages(sling:Folder)

create service user acs-commons-automatic-package-replicator-service with path system/acs-commons
set ACL for acs-commons-automatic-package-replicator-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /etc/packages
    allow jcr:read on /
end

create service user acs-commons-file-fetch-service with path system/acs-aem-commons
set ACL for acs-commons-file-fetch-service
    allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/dam
    allow jcr:read on /
end

create service user acs-commons-remote-assets-service with path system/acs-aem-commons
set ACL for acs-commons-remote-assets-service
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/cq:tags
    allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /content/dam, /etc/tags
    # If /etc/tags is used, these must be set manually - since if RepoInit defines this structure, it supersedes /content/cq:tags
    #allow jcr:read, jcr:versionManagement, rep:write, crx:replicate on /etc/tags
    allow jcr:read on /
end
"
]

