scripts=["

    # everyone ACLs (Author Only) #

    set principal ACL for everyone
        allow jcr:read on /var/acs-commons
        allow jcr:read on /apps/acs-commons/content/manage-controlled-processes
    end

    ## ACS Reports
    set principal ACL for contributors
        allow jcr:read on /conf/acs-commons/reports
    end

    # ### MCP (Author Only) ###

    create path /var/acs-commons/mcp(sling:Folder)

    create service user acs-commons-manage-controlled-processes-service with path system/acs-commons/manage-controlled-processes

    set principal ACL for acs-commons-manage-controlled-processes-service
        allow jcr:all on /var/acs-commons/mcp
    end

     # ### Reports (Author Only) ###

    create path /var/acs-commons/reports(sling:Folder)
    create path /var/acs-commons/reports/sample-component-instances(sling:Folder)

    # ### Remote Assets (Author Only) ###

    create service user acs-commons-remote-assets-service with path system/acs-commons/remote-assets-service

    set principal ACL for acs-commons-remote-assets-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/cq:tags,/content/dam,/etc/tags
        allow jcr:read on /
    end

    # ### System Notifications (Author ONLY) ###

    create service user acs-commons-system-notifications-service with path system/acs-commons/system-notifications

    set principal ACL for acs-commons-system-notifications-service
        allow jcr:read on /etc/acs-commons/notifications  
    end

    # ### Review Task Asset Mover (Author Only) ###

    create service user acs-commons-review-task-asset-mover-service with path system/acs-commons/review-task-asset-mover-service

    set principal ACL for acs-commons-review-task-asset-mover-service
        allow jcr:read,jcr:versionManagement,rep:write on /content/dam     
    end

    # ### Package Replication Status (Author Only) ###

    create service user acs-commons-package-replication-status-event-service with path system/acs-commons/package-replication-event-service
    
    set principal ACL for acs-commons-package-replication-status-event-service
        allow jcr:read,rep:write,jcr:readAccessControl,jcr:modifyAccessControl on /
    end

    # ### Bulk Workflow (Author Only) ###

    create service user acs-commons-bulk-workflow-service with path system/acs-commons/bulk-workflow

    set principal ACL for acs-commons-bulk-workflow-service
        allow jcr:read,jcr:modifyProperties on /etc/acs-commons/bulk-workflow-manager
    end
"]