scripts=["
    # ### MCP (Author Only) ###

    create path /var/acs-commons/mcp(sling:Folder)

    create service user acs-commons-manage-controlled-processes-service with path system/acs-commons/manage-controlled-processes

    set principal ACL for acs-commons-manage-controlled-processes-service
        allow jcr:all on /var/acs-commons/mcp
    end

     # ### Reports (Author Only) ###

    create path /var/acs-commons/reports(sling:Folder)
    create path /var/acs-commons/reports/sample-component-instances(sling:Folder)

    # ### Remote Assets (Author Only) ###

    create service user acs-commons-remote-assets-service with path system/acs-commons/acs-commons-remote-assets-service

    set principal ACL for acs-commons-file-fetch-service
        allow jcr:read,jcr:versionManagement,rep:write,crx:replicate on /content/cq:tags,/content/dam,/etc/tags
        allow jcr:read on /
    end
"]