<sly data-sly-use.location="asset-location-map.js" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-test="${location.valid}">
<sly data-sly-call="${clientLib.all @ categories=['acs-commons.leaflet']}"></sly>

    <div id="${location.divId}"></div>
    <script>
        (function() {
            var map = L.map('${location.divId @ context="scriptString"}').setView([${location.latitude @ context="text"}, ${location.longitude @ context="text"}], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

            L.marker([${location.latitude @ context="text"}, ${location.longitude @ context="text"}]).addTo(map);
        }());

    </script>
    <style type="text/css">
        #${location.divId @ context="styleToken"} {
            height: 200px;
        }
    </style>
</sly>
