scripts=[
"# extend rights for installing the ui.content package containing /var nodes with AEMaaCS (https://helpx.adobe.com/in/experience-manager/kb/cm/cloudmanager-deploy-fails-due-to-sling-distribution-aem.html)
create path /var/acs-commons(nt:folder)

# AEM classic does not know this system user, but creating it below system/acs-commons shouldn't do any harm
create service user sling-distribution-importer with path system/acs-commons
set principal ACL for sling-distribution-importer
    allow jcr:read, rep:write, jcr:versionManagement, jcr:modifyAccessControl ,jcr:readAccessControl, jcr:lockManagement on /var/acs-commons
end
"
]