<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{ site.baseurl }}" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
    
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/source-sans/stylesheet.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prettify.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bigfoot-default.css">
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
        <link rel="canonical" href="http://adobe-consulting-services.github.io{{ site.baseurl }}{{ page.url }}" />
    </head>

    <body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40089470-2', 'adobe-consulting-services.github.io');
  ga('send', 'pageview');
</script>
    
        <header class="top">
            <div class="container">
                <ul class="nav nav-justified">
                  <li {% if page.path == 'index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/index.html">ACS AEM Commons</a></li>
                  <li><a href="{{ site.baseurl }}/index.html#features">Features</a></li>
                  <li><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons" target="_blank">GitHub Project</a></li>
                  <li><a href="{{ site.baseurl }}/apidocs/">API Docs</a></li>
                  <li><a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/blob/master/CONTRIBUTING.md" target="_blank">Contribute</a></li>
                </ul>
            </div>
        </header>

        <div class="page" role="main">
            {{ content }}
        </div>

        <footer>
            <div class="container">
                <a href="{{ site.baseurl }}/pages/license.html">License</a>
                <span class="right">
                        &copy; Adobe Systems Incorporated. All Rights Reserved
                </span>
            </div>
        </footer>

        <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
        <script src="{{ site.baseurl }}/assets/js/prettify.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bigfoot.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/acs-aem-commons.js"></script>
 
        <script type="text/javascript">
            $.bigfoot();
        </script>
    </body>
</html>
