---
layout: base
---
<div class="content container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="feature-doc">
                <h1>
                    {{ page.title }}
                    {% if page.tags contains 'new' %}
                    <span class="new">New!</span>
                    {% elsif page.tags contains 'updated' %}
                    <span class="updated">Updated</span>
                    {% endif %}
                </h1>
                
                {% if page.initial-release %}
                Available since version {{page.initial-release}}
                {% endif %}
                
                {{ content }}
            </section>
        </div>
    </div>
</div>