<footer style="margin-top: 2rem;">

    <hr class="spectrum-Divider spectrum-Divider--sizeS">

    <p>
        If you have questions about or problems with

        <a data-sly-test="${component.docsUrl}"
           href="${component.docsUrl}" target="_blank" rel="noreferrer">${component.title}</a>

        <sly data-sly-test="${!component.docsUrl}">${component.title}</sly>

        please create an issue on the

        <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/issues" target="_blank" rel="noreferrer">ACS
            AEM Commons GitHub project</a>.
    </p>

</footer>