<footer>

    <sp-divider size="s"></sp-divider>

    <p>
        ACS Commons Dispatcher Flush is <a href="https://adobe-consulting-services.github.io/acs-aem-commons/pages/compatibility.html#aem-as-a-cloud-service-feature-incompatibility" target="_blank" rel="noreferrer">not AEM as a Cloud Service compatible</a> and only functions on AEM 6.5.x.
    </p>

    <p>
        If you have questions about or problems with ${component.title} please create an issue on the <a href="https://github.com/Adobe-Consulting-Services/acs-aem-commons/issues" target="_blank" rel="noreferrer">ACS AEM Commons Github project</a>.
    </p>

</footer>